.main-layout {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "top-menu top-menu top-menu"
    "left-sidebar main-content right-sidebar"
    "bottom-bar bottom-bar bottom-bar";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: grid-template-columns 0.3s ease-in-out;
}

.layout-main-content {
  grid-area: main-content;
  background-color: #ffffff;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}